<nav class="navbar navbar-expand-sm">
  <div class="container">
      <div class="logo" href="#"><img src="../../assets/img/vector-smart-object.png"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="Text-Style nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="Text-Style nav-link" href="about">About us</a>
      </li>
      <li class="nav-item">
        <a class="Text-Style nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="Text-Style nav-link" href="#">Contact us</a>
      </li>
      <div class="icon_box"><img class="icon_facebook" src="../../assets/img/layer-8@3x.png"></div>
      <div class="icon_box"><img class="icon_twitter" src="../../assets/img/layer-9@3x.png"></div>
      <div class="icon_box"><img class="icon_google" src="../../assets/img/layer-10@3x.png"></div>
    </ul>
  </div>
  </div>
</nav>