<div class="backgnd_grey">
  <div class="map_overlay">
    <div class="container map_contents">
      <div class="row">
        <div class="col-md-5">
          <div class="left_side">
             <span class="lorem">Lorem</span><span class="ipsum"> Ipsum </span>
              is simply dummy text
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
              <div class="get_info" href="#">
                Get info
                <img src="../../../assets/img/asset_white_arrow.png" alt="arrow">
              </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="right_side">
            <img src="../../../assets/img/asset_banner_img.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="our_products">
  <div class="prod_overlay">
    <h2><div class="prod_color">OUR</div> PRODUCTS</h2>
  </div>
    <hr>
    <div class="container pill_margin">
      <!-- Nav pills -->
      <ul class="nav justify-content-center nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#home">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#menu1">Web</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#menu2">App</a>
        </li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content">
        <div id="home" class="container tab-pane active">
          <div class="row">
            <div class="col">
              <div class="prod_img">
                  <div class="prod_hover">
                      <div class="prod_hover_overlay">
                        <img src="../../../assets/img/call_cab.png">
                        <h6>Branding • UI/UX • Web</h6>
                        <p>Call My Cab is a web application for online cab booking system. Its customer friendly website built for fast, efficient, effective, responsive way to access all the cab facilities on your finger tips.</p>
                        <p>View More <img src="../../../assets/img/asset_white_arrow.png"></p>
                      </div>
                    </div>
                <img src="../../../assets/img/asset_poster_one.png">
              </div>
              
            </div>
            <div class="col">
              <div class="prod_img">
                <img src="../../../assets/img/asset_poster_two.png">
              </div>
            </div>
            <div class="col">
              <div class="prod_img">
                <img src="../../../assets/img/asset_poster_six.png">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="prod_img">
                <img src="../../../assets/img/asset_poster_three.png">
              </div>
            </div>
            <div class="col">
              <div class="prod_img">
                <img src="../../../assets/img/asset_poster_four.png">
              </div>
            </div>
            <div class="col">
              <div class="prod_img">
                <img src="../../../assets/img/asset_poster_five.png">
              </div>
            </div>
          </div>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
          <h3>Menu 1</h3>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="container tab-pane fade"><br>
          <h3>Menu 2</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
      </div>
    </div>
</div>
<div class="why_codein_overlay">
  <div class="code_overlay">
    <h2 class="white_head"><div class="prod_color">WHY</div> CODEINFOTEC ?</h2>
    <hr>
  </div>
  <div class="container icon_container">
    <div class="row border_bottom margin_top">
      <div class="col padd_bottom">
          <div class="image_icon">
              <img src="../../../assets/img/asset_badge_1.png">
          </div>
          <h4>Elite Author</h4>
      </div>
      <div class="col padd_bottom">
        <div class="image_icon">
          <img src="../../../assets/img/asset_badge_2.png">
        </div>
        <h4>Author Level 8</h4>
      </div>
      <div class="col padd_bottom">
        <div class="image_icon">
          <img src="../../../assets/img/asset_badge_3.png">
        </div>
        <h4>Exclusive Author</h4>
      </div>
      <div class="col padd_bottom border_none">
        <div class="image_icon">
          <img src="../../../assets/img/asset_badge_4.png">
        </div>
        <h4>Copyright Ninja</h4>
      </div>
    </div>
    <div class="row">
      <div class="col padd_top">
          <div class="image_icon">
              <img src="../../../assets/img/asset_badge_5.png">
          </div>
          <h4>4 year of Membership</h4>
      </div>
      <div class="col padd_top">
          <div class="image_icon">
              <img src="../../../assets/img/asset_badge_6.png">
          </div>
          <h4>Collector Level 2</h4>
      </div>
      <div class="col padd_top">
          <div class="image_icon">
              <img src="../../../assets/img/asset_badge_7.png">
          </div>
          <h4>Trendsetter</h4>
      </div>
      <div class="col padd_top border_none">
          <div class="image_icon">
              <img src="../../../assets/img/asset_badge_8.png">
          </div>
          <h4>& Many More</h4>
      </div>
    </div>
  </div>
</div>
<div class="rating_review">
  <div class="rating_overlay">
    <h2>RATINGS AND REVIEWS</h2>
    <hr>
  </div>
  <div class="rating_review_box">
    <div class="rating_review_box_one">
      <div class="row">
          <div class="rating_head">
              <div class="rating_star">
                  <fieldset class="rating">
                      <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                      <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                      <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                      <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                      <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                      <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                      <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                      <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                      <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                      <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                  </fieldset>
              </div>
              <div class="for-design-quality">
               <div class="for_textstyle">for</div> Design Quality
              </div>
              <div class="kochi_taxi">by kochitaxi</div> 
            </div>
      </div>
      <div class="clear"></div>
      <div class="row rating_body">
        <div class="rating_content">
          I love this application.its very easy to manage.
        </div>
      </div>
    </div>
    <div class="rating_review_box_one">
        <div class="row">
            <div class="rating_head">
                <div class="rating_star">
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                </div>
                <div class="for-design-quality">
                 <div class="for_textstyle">for</div> Design Quality
                </div>
                <div class="kochi_taxi">by kochitaxi</div> 
              </div>
        </div>
        <div class="clear"></div>
      <div class="row rating_body">
        <div class="rating_content">
          I love this application.its very easy to manage.
        </div>
      </div>
    </div>
  </div>
</div>